<!doctype html>
<html>
  <head>
    <!-- Include the AngularJS library -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
	<script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.3/angular-material.js"></script>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	<link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.3/angular-material.css">
	<link rel="stylesheet" href="https://material.angularjs.org/1.1.3/docs.css">
	    <!-- Modules -->
    <script src="appcard.js"></script>
  </head>
  <body ng-app="MyApp">
    <div>
       <h1> Squiggly Pi</h1>
    </div>
    <div ng-controller="AppCtrl" ng-cloak="" class="carddemoBasicUsage" ng-app="MyApp">
	<h1 slide-toggle="#derp" ><md-button class="md-raised">Languages</md-button></h1>
    <div id="derp" class="slideable">
		<md-content class="md-padding" layout="horizontal">
			<md-card flex="50" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch="" ng-repeat = "language in languages">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">{{language.language}}</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-actions layout="row" layout-align="end center">
					<md-checkbox ng-click="">Add</md-checkbox>
				</md-card-actions>
			</md-card>
				<div layout="" layout-padding="" layout-align="center end" style="height:200px">
					<md-checkbox ng-model="showDarkTheme">Use 'Dark' Themed Cards</md-checkbox>
				</div>
		</md-content>
	</div>
	<div class="truncatedemoBasicUsage">
		<md-content class="md-padding" layout="horizontal">
			<md-card flex="50" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch="">
				<md-card-content>
					<div class="app-body">
						<h2 md-truncate="">The info will go in here ?</h2>
					</div>

					<div class="rightbar">
						<p>
						tuffff
						</p>
					</div>
				</md-card-content>
			</md-card>
		</md-content>
	</div>
	</div>
  </body>
</html>