.carddemoBasicUsage .card-media {
  background-color: #999999; }
  .truncatedemoBasicUsage #fake-app {
  position: relative;
  height: 400px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #333; }
  .truncatedemoBasicUsage #fake-app .sidebar {
    position: absolute;
    width: 50px;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #333; }
    .truncatedemoBasicUsage #fake-app .sidebar md-icon {
      display: block;
      color: #ddd;
      margin-top: 15px; }
  .truncatedemoBasicUsage #fake-app .app-body {
    position: absolute;
    left: 50px;
    right: 100px;
    top: 0;
    bottom: 0;
    background-color: white;
    padding: 10px;
    overflow: auto; }
  .truncatedemoBasicUsage #fake-app .rightbar {
    position: absolute;
    width: 100px;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ddd;
    padding: 10px; }
.gridListdemoBasicUsage md-grid-list {
  margin: 8px; }

.gridListdemoBasicUsage .gray {
  background: #f5f5f5; }

.gridListdemoBasicUsage .green {
  background: #b9f6ca; }

.gridListdemoBasicUsage .yellow {
  background: #ffff8d; }

.gridListdemoBasicUsage .blue {
  background: #84ffff; }

.gridListdemoBasicUsage .purple {
  background: #b388ff; }

.gridListdemoBasicUsage .red {
  background: #ff8a80; }

.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; }